<h1>My Recipe List</h1>
<%if @my_recipes.length > 0%>
    <% @my_recipes.each do |recipe|%>
        <h1><%=link_to recipe.name, recipe.url%></h1>
        <% recipe.tags.each do |tag|%>
            <%= tag.name%>
        <% end %>
        <% hmmm = recipe.users_recipes.find{|users_recipes| users_recipes.user_id == session[:user_id]}%>
        <p>Cook Time: <%=recipe.cook_time%></p>
        <p><%= link_to "Delete Recipe", "/users_recipes/#{hmmm.id}", method: "delete" %></p>
        <img src=<%=recipe.image%>>
    <%end%>
<% else %>
    <p>No Recipes Found =(</p>    
<% end %>
