<div class="flexbox_col">
    <h1>Recipe Index</h1>
    <%= form_tag(recipes_path, method: :get) do %>
        <%= label_tag(:q, "Search:") %>
        <%= text_field_tag :search %>
        <%= submit_tag("Search") %>
    <% end %>
    <% @recipes.each do |recipe|%>
        <h1><%= recipe.name %></h1>
        <img src=<%=recipe.image%>>
        <%= link_to 'Details', recipe%>
    <% end %>
</div>

