<div class="flexbox_col">
    <h1>New Recipe</h1>
    <%= form_with model: @recipe do |f|%>
        <p><%= f.label :name %></p>
        <p><%= f.text_field :name %></p>
        <p><%= f.label :cook_time %></p>
        <p><%= f.text_field :cook_time%></p>
        <p><%= f.label :image_url %></p>   
        <p><%= f.text_field :image%></p>
        <p><%= f.label :url%></p>
        <p><%= f.text_field :url%></p>
        <% @tags.each do |tag| %>
            <%= f.check_box :tags, { multiple: true }, tag.id %>
            <%= f.label tag.name%>
        <% end %>
        <p><%=f.label :new_tag %></p>
        <p><%= f.text_field :new_tag%></p>
        <%= f.submit %>
    <% end %>
</div>