<div class="flexbox_col2">
    <h1>New Recipe</h1>
    <%= form_with model: @recipe do |f|%>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :cook_time %>
        <%= f.text_field :cook_time%>
        <%= f.label :image_url %>
        <%= f.text_field :image%>
        <%= f.label :url%>
        <%= f.text_field :url%>
        <% @tags.each do |tag| %>
            <%= f.check_box :tags, { multiple: true }, tag.id %>
            <%= f.label tag.name%>
        <% end %>
        <%=f.label :new_tag %>
        <%= f.text_field :new_tag%>
        <%= f.submit %>
    <% end %>
</div>