<h1><%=link_to @recipe.name, @recipe.url%></h1>
<%= link_to "Edit", edit_recipe_path%>
<% @recipe.tags.each do |tag|%>
    <%= tag.name%>
<% end %>
<p>Cook Time: <%=@recipe.cook_time%></p>
<img src=<%=@recipe.image%>>
